<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <header class="header">
        <h1></h1>
        <form >
            <input type="text" id="search"  class="goods-search" v-model="searchLine">
            <input type="submit"class="search-button" value="Искать" id="submit" @click.prevent="filterGoods(searchLine)">
        </form>
        <button class="cart-button" type="button" @click.prevent="openBasket()">Корзина</button>
        <div class="basket_list" v-bind:style="{ display: isVisibleCart}">
            <table class="header-basket">
                <tr>
                    <th>Наименование</th><th>Стоимость</th><th>Штук</th><th>Сумма</th>
                </tr>
            </table>

            <table v-for="(good, index) in basketGoods" class="basket-table">
                <tr>
                    <td>{{ good.product_name }}</td><td>{{ good.price }}</td><td>{{ good.count }}</td><td>{{ good.summBasket }}</td>
<!--                    <button class="del-btn" :data-id=good.id @click="removeFromCart(index)">Удалить</button>-->
                </tr>
            </table>
            <div class="basket-summ">Товаров в корзине на сумму:{{ allSumm }}</div>
        </div>
    </header>
    <main>
        <div class="goods-list">
            <div class="goods-item" v-for="good in filteredGoods">
<!--                <img v-bind:src="'images/' + good.imag" />-->
                <h3>{{ good.product_name }}</h3>
                <p>{{ good.price }}</p>
                <button class="cart-button" type="button" :data-id=good.id @click="addProduct(good)">Добавить</button>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>
