
.header {
    height: 77px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.cart-button {
    padding: 10px;
    width: 100px;
    height: 50px;
    background: #F16D7F;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    transition: 0.5s ease-in;
}
.goods-list {
    background: lightgray;
    display: flex;
    justify-content: space-around;
}
.goods-item {
    margin: 30px 0;
    width: 300px;
    height: 400px;
    background: #F8F8F8;
    transition: 0.5s;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 17px;
    color: black;
    text-align: center;
}
